shellingham==1.5.4
fsspec==2026.4.0
mkdocs==1.6.1
mergedeep==1.3.4
voluptuous==0.16.0
ruamel.yaml==0.19.1
requests==2.33.1
grpcio==1.80.0
semver==3.0.4
wcwidth==0.7.0
tornado==6.5.5
multidict==6.7.1
pydantic_core==2.46.4
torchmetrics==1.9.0
lightning-utilities==0.15.3
pre_commit==4.1.0
mkdocstrings-python==2.0.1
tzdata==2026.2
setuptools==82.0.1
diskcache==5.6.3
shortuuid==1.0.13
fastapi==0.115.6
dictdiffer==0.9.0
gto==1.9.0
mkdocs-material==9.7.1
iniconfig==2.3.0
mkdocs-autorefs==1.4.4
dvc-objects==5.2.0
click-repl==0.3.0
nodeenv==1.10.0
mkdocs-material-extensions==1.3.1
colorama==0.4.6
uvicorn==0.34.0
asyncssh==2.23.0
protobuf==7.34.1
typer==0.15.1
cfgv==3.5.0
zc.lockfile==4.0
entrypoints==0.4
aiohttp-retry==2.9.1
kombu==5.6.2
python-discovery==1.3.0
paginate==0.5.7
snakeviz==2.2.2
aiohttp==3.13.5
rich==15.0.0
orjson==3.11.9
absl-py==2.4.0
librt==0.11.0
networkx==3.6.1
click-didyoumean==0.3.1
pytest==8.3.4
babel==2.18.0
propcache==0.5.2
GitPython==3.1.50
yarl==1.23.0
pillow==12.2.0
amqp==5.3.1
ruff==0.1.3
sentry-sdk==2.60.0
ghp-import==2.1.0
packaging==26.2
cffi==2.0.0
distlib==0.4.0
sqltrie==0.11.2
mypy==1.19.1
dvc-http==2.32.0
flatten-dict==0.5.0
certifi==2026.4.22
cryptography==48.0.0
logging==0.4.9.6
pytorch-lightning==2.6.1
prompt_toolkit==3.0.52
mkdocstrings==1.0.4
appdirs==1.4.4
pydantic-settings==2.14.1
grandalf==0.8
wandb==0.27.0
configobj==5.0.9
dpath==2.2.0
dvc-task==0.40.2
platformdirs==4.9.6
python-dotenv==1.2.2
h11==0.16.0
gitdb==4.0.12
smmap==5.0.3
pycparser==3.0
Pygments==2.20.0
mdurl==0.1.2
pymdown-extensions==10.21.2
project_name==0.0.1
mkdocs-get-deps==0.2.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
PyYAML==6.0.3
pygtrie==2.5.0
click==8.3.3
torch==2.6.0
tzlocal==5.3.1
griffecli==2.0.2
antlr4-python3-runtime==4.9.3
frozenlist==1.8.0
dvc-render==1.0.2
tensorboard==2.20.0
iterative-telemetry==0.0.10
typing_extensions==4.15.0
aiosignal==1.4.0
invoke==2.2.0
coverage==7.6.9
idna==3.14
Jinja2==3.1.6
pyparsing==3.3.2
charset-normalizer==3.4.7
pyyaml_env_tag==1.1
markdown-it-py==4.2.0
torchvision==0.21.0
dvc-studio-client==0.22.0
flufl.lock==9.1.0
MarkupSafe==3.0.3
atpublic==7.0.0
Werkzeug==3.1.8
starlette==0.41.3
filelock==3.29.0
distro==1.9.0
dvc==3.67.1
tabulate==0.10.0
pygit2==1.19.2
scmrepo==3.6.2
pluggy==1.6.0
funcy==2.0
attrs==26.1.0
aiohappyeyeballs==2.6.1
pathspec==1.1.1
pydantic==2.13.4
dvc-data==3.18.3
backrefs==7.0
identify==2.6.19
sympy==1.13.1
pydot==4.0.1
urllib3==2.7.0
griffe==2.0.2
tqdm==4.67.3
lightning==2.6.1
numpy==2.4.4
virtualenv==21.3.1
tensorboard-data-server==0.7.2
griffelib==2.0.2
dulwich==1.2.1
shtab==1.8.0
psutil==7.2.2
click-plugins==1.1.1.2
watchdog==6.0.0
hydra-core==1.3.2
typing-inspection==0.4.2
annotated-types==0.7.0
celery==5.6.3
billiard==4.2.4
Markdown==3.10.2
omegaconf==2.3.0
mypy_extensions==1.1.0
six==1.17.0
vine==5.1.0
tomlkit==0.15.0
anyio==4.13.0
